html {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  width: 100%;
  margin: auto;
}

nav {
  width: 960px;
  height: 64px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo p {
  font-size: 22px;
}

.menu ul {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.logo img {
  height: 45px;
}

.menu ul li {
  margin-left: 16px;
}

nav .logo {
  margin-left: 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.mainbanner {
  display: flex;
  width: 960px;
  border: 1px solid black;
}

.mainbanner .image {
  width: 60%;
  border: 1px solid black;
}

.mainbanner img {
  padding: 32px 24px;
  width: 100%;
  border: 1px solid black;
}

.learnmore {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid black;
  width: 40%;
}

.learnmore h1 {
  width: 80%;
  position: relative;
  bottom: 40px;
  left: 15px;
  border: 1px solid black;
  font-size: 36px;
}

.learnmore .text {
  position: relative;
  bottom: 20px;
  left: 15px;
  width: 80%;
  border: 1px solid black;
  font-size: 20px;
}

.learnmore .button {
  width: 80%;
  position: relative;
  top: 20px;
  bottom: 20px;
  left: 15px;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  padding: 8px;
}

.secondbanner {
  display: flex;
  width: 960px;
  border: 1px solid black;
}

.secondbanner .image {
  width: 60%;
  border: 1px solid black;
}

.secondbanner img {
  padding: 32px 24px;
  width: 100%;
  border: 1px solid black;
}

.image .heading {
  font-size: 36px;
}

.secondbanner .thumbnails {
  border: 1px solid black;
}

.thumbnails {
  width: 40%;
}
